.about {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.about__contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__contact {
  border: 3px solid $teal;
  width: 21rem;
  margin-right: 1rem;
  padding: 0 1rem;

  @media (max-width: $desktop-breakpoint) {
    margin-right: 0rem;
    padding: 0 0.5rem;
    width: 21rem;
  }
}

.about__contact__info {
  font-size: $sm-size;
}
.about__contact__info-title {
  font-weight: bold;
}

.about img {
  max-width: 25rem;
  height: auto;

  @media (max-width: $desktop-breakpoint) {
    max-width: 20rem;
    margin: $m-size 0;
  }
}

.about__about {
  @extend .about__contact;
  border: none;
  font-size: $s-size;
  overflow-wrap: normal;
  margin-top: $sm-size;
}
