.projects {
  margin-top: $m-size;
  display: flex;
  flex-direction: column;
  width: 45rem;

  @media (max-width: $desktop-breakpoint) {
    width: 20rem;
  }
}

.projects__container {
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;

  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
  }
}

.projects__title {
}

.projects__img {
  width: 320px;
  height: 175px;
  border-radius: 1rem;

  @media (max-width: $desktop-breakpoint) {
    width: 288px;
    height: 175px;
  }
}

.projects__info-container {
  padding: 0 $s-size;
}

a {
  text-decoration: none;
  color: inherit;
}

.projects__project-description {
  text-decoration: none !important;
}

.projects__project-title {
  font-size: $sm-size;
  margin: $xs-size 0 0 0;
  text-decoration: none !important;
}

.card {
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  cursor: pointer;
  margin: $m-size 0;
  padding: 0.5rem;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.65;
  }
}
