.resume {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $desktop-breakpoint) {
  }
}

.entry-list {
  display: flex;
  flex-direction: column;
  width: 45rem;
  justify-content: center;

  @media (max-width: $desktop-breakpoint) {
    width: 20rem;
  }
}

.freelance-list {
    padding-bottom: 4rem;
}

.entry-list__title {
  color: $teal;
  font-size: $l-size;
  margin: $xl-size 0 $s-size 0;
}

.entry {
  border-bottom: 1px solid $light-gray;
  display: flex;
  margin-bottom: $s-size;
}

.entry__link {
    transition: 0.3s ease;

    &:hover {
        color: $teal;
        opacity: 0.65;
    }
}

.entry__dates {
  color: $teal;
  font-size: $m-size;
  margin: 0;
  margin-right: $s-size;
  width: 8.5rem;

  @media (max-width: $desktop-breakpoint) {
    font-size: $s-size;
    width: 3rem;
  }
}

.entry__title {
  font-size: $m-size;
  margin: 0;

  @media (max-width: $desktop-breakpoint) {
    font-size: $sm-size;
  }
}

.entry__university {
  font-size: $sm-size;
  font-weight: bold;
  margin: $s-size 0;
}

.entry__honors-container {
  display: flex;
  justify-content: space-between;
  margin: $s-size 0;

  & > * {
    margin: 0;
  }
}
